<div class="container">
  <div class="row">
    <div class="col">
      <h1>LISTADO DE PERSONAS</h1>
      <button
        class="btn btn-primary"
        [disabled]="estado"
        (click)="agregarPersona()"
      >
        Agregar Persona
      </button>
      <p>
        {{ mensaje }}
      </p>
      <app-persona></app-persona>
      <div>
        <p>
          Titulo Persona : <input type="text" class="form-control" (input)="modificarTitulo($event)"/>
        </p>

         EL TITULO DE LA PERSONA ES :{{titulo}}

      </div>


    </div>
  </div>
</div>
